webdataset
pyannote.metrics
einops
pyannote.core
inflect
hydra.core
jiwer
numpy 
joblib 
omegaconf 
matplotlib 
pesq 
pystoi 
scipy 
soundfile 
sox 
fiddle  
numba 
python-dateutil 
scikit-learn 
setuptools 
tensorboard 
text-unidecode 
torch
tqdm 
wget 
wrapt 
braceexpand 
editdistance 
g2p_en 
kaldi-python-io
kaldiio 
lhotse 
librosa 
marshmallow 
packaging 
pydub 
pyloudnorm 
exterrors
